#new-festival-modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.festival-modal-content {
	background-color: #fff;
	padding: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left: 50%;
	width: 400px;
}

.festival-modal-content .error {
	font-weight: bold;
	color: red;
}
