#fjellcommerce-tickets .handlediv, #fjellcommerce-tickets .hndle {
	display: none;
}

#fjellcommerce-tickets .inside {
	margin: 0;
	padding: 0;
}

#ticket_data {
	padding: 23px 24px 12px;
}

#ticket_data p.ticket_info {
  margin: 0;
  line-height: 1.6em;
  font-size: 16px;
}

#ticket_data h2 {
  margin: 0;
  font-size: 21px;
  line-height: 1.2;
  text-shadow: 1px 1px 1px #fff;
  padding: 0;
}

#ticket_data h2, #ticket_data p.order_number {
  font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",sans-serif;
  font-weight: 400;
}

.ticket_table {
	margin: 0;
	padding: 0;
	width: 100%;
}

.ticket_table th {
	text-align: left;
	padding: 1em;
	font-weight: 400;
	color: #999;
	background: #f8f8f8;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ticket_table td {
	padding: 1.5em 1em 1em;
	text-align: left;
	line-height: 1.5em;
	vertical-align: top;
	border-bottom: 1px solid #f8f8f8;
}

.ticket_table tr.selected {
	background-color: #F5EBF3;
}

.ticket_table tr {
	transition: background-color .5s ease;
}

.ticket_table .ticket_info {
	padding-left: 2em;
	min-width: 200px;
}

.ticket_table .ticket_info .edit_ticket {
	text-decoration: none;
}

.ticket_table .ticket_info .edit_ticket:after {
	font-family: Dashicons;
	font-size: 12px;
	text-decoration: none;
	content: "\f464";
	color: #000;
}

.ticket_table .ticket_checked {
	padding-right: 2em;
	min-width: 200px;
}

.ticket_table td.ticket_edit_col {
	padding-left: 2em;
	padding-right: 2em;
	background-color: #f8f8f8;
}

.ticket_table .ticket_checked, .ticket_table .ticket_active {
	text-align: right;
	min-width: 100px;
}

// .ticket_table .ticket_header .
